################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GradeIdentification.Domain/obj
/GradeIdentification.Domain/bin
/GradeIdentification.Application/obj
/GradeIdentification.Application/bin
/GradeIdentification.Test/obj
/GradeIdentification.Test/bin
/ConsoleApp/obj
/ConsoleApp/bin
